@import "../node_modules/ui-styles/variables";
@import "../node_modules/ui-styles/borders";

:host {
  display: block;
  position: relative;
  box-sizing: border-box;
  #input {
    .transition(@transition);
    .transform-origin(50% 0%);
    .transform(rotateX(0deg));
    &.close {
      .transform(rotateX(90deg));
    }
  }
  #results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    .border;
    overflow-y: scroll;
    z-index: 999;
    .transition(@transition);
    .transform-origin(50% 0%);
    .transform(rotateX(90deg));
    &.open {
      .transform(rotateX(0deg));
    }
  }
  #selected {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .bottom-border;
    .transition(@transition);
    .backface-visibility(hidden);
    .transform(rotateX(180deg));
    &.open {
      .transform(rotateX(0deg));
    }
  }
}

:host([selected]) {
  #results {
    top: 0;
    overflow: visible;
    background-color: transparent;
  }
}
