@import "../node_modules/ui-styles/variables";
@import "../node_modules/ui-styles/borders";

:host {
  box-sizing: border-box;
  display: inline-flex;
  justify-content:flex-start;
  position: relative;
  width: 100%;
  background-color: transparent;
  color: @color-text;
  #input {
    .transition(@transition);
    .transform-origin(50% 0%);
    .transform(rotateX(0deg));
    &.close {
      .transform(rotateX(90deg));
    }
  }
  #results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    .border;
    overflow-y: scroll;
    z-index: 999;
    .transition(@transition);
    .transform-origin(50% 0%);
    .transform(rotateX(90deg));
    &.open {
      .transform(rotateX(0deg));
    }
  }
}
